#background_2 {
    background-image: url("../../assets/images/backgrounds/background2.jpg");
    background-repeat: no-repeat;
    background-position: 40% 0%;
    background-attachment: fixed;
    min-height: 800px;
    text-align: center;
    overflow: hidden;
	margin-left: -20px;
	margin-right: -20px;
}

#view_block-heading {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 3em;
  line-height: 1.2em;
  margin-top: 2%;
  /*margin-left: -10%;*/ }