<div id="aa_bak3"><!--background-->
	<div>
		<div id="navback" (click)='onNavBack()'></div>
		<div class="row">
			<div class="col-xs-offset-1 col-xs-10">
				<div class="title_text">Roger Gail Lyon</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-offset-1 col-xs-10">
				<img src="/app/assets/threads/images/1_roger_gail_lyon_levels_adjustment.jpg" 
				width="100%" 
				alt="Roger Gail Lyon Quilt Panel">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-offset-1 col-xs-10 light_bak">
			<audio id="audioplayer" controls>
			<source src="/app/assets/threads/audio/Roger.mp3" type="audio/mpeg">
			Your browser does not support the audio element.
			</audio>
		</div>
		<div id="navforward" (click)='onNavForward()'></div>
	</div>
</div>