#navback {
      background-image: url("../../../assets/images/icons/left_burnt.png");
      background-repeat: no-repeat;
      width: 60px;
      height: 72px;
      top: 15px;
      left: 10px;
      opacity: 1;
      position: fixed;
}

#navforward{
      background-image: url("../../../assets/images/icons/right_burnt.png");
      background-repeat: no-repeat;
      width: 60px;
      height: 72px;
      top: 15px;
      right: 10px;
      position: fixed;
      opacity: .8;
}

.title_text {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 3.8em;
  line-height: 1.2em;
  margin-top: 4%;
  color: #D7DF23;
}
.body_text {
    font-size: 3em;
    color: white;
    text-align: left;
    margin-left: 25px;
}

/*generic smartphone in landscape mode*/
@media only screen 
    and (min-width: 320px) 
    and (max-width: 736px) 
    and (orientation: landscape) {
      .title_text{
            font-size: 3.8em;
            margin-top: 5%;
      }
       .body_text {
          font-size: 1.75em;
          margin-left: 25px;
      }
    }

/*generic smartphone in portrait mode*/
@media only screen 
    and (min-width: 320px) 
    and (max-width: 736px) 
    and (orientation: portrait) {
      .body_text {
          font-size: 1.6em;
          margin-left: 5%;
          margin-right: 5%
      }
      .title_text{
        margin-top: 5%;
        font-size: 4em;
      }
    }
