

.icon-home-text-reverse, .icon-info-text-reverse, .icon-back-text-reverse, .icon-tour-text-reverse {
  background-repeat: no-repeat;
  width: 60px;
  height: 72px;
  background-image: url("../../assets/images/icons/sprite-icon-text.png");
  padding: 0px; }

.icon-home-text-reverse {
  background-position: -60px -144px; }

.icon-info-text-reverse {
  background-position: -60px 0px; }

.icon-back-text-reverse {
  background-position: -60px -72px; }

.icon-tour-text-reverse {
  background-position: -60px -504px; }

.icon-tour-text-reverse {
  background-position: -60px -504px; }